main{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    text-emphasis-color: rgb(183,65,14);
    background-color: antiquewhite;
}

p{
    color: (183,65,14);
    font-family: Arial, Helvetica, sans-serif;
}

.SO_pic{
    border: 5px solid #555;
    border-radius: 15px;
    float: center;
}
.MCI_Team_Photo{
    border: 5px solid #0d6baa;
    border-radius: 15px;
    float: center;
}
.CHSL{
    border: 5px solid #965a28;
    border-radius: 15px;
    float: center;
}
.KCSL{
    border: 5px solid #8b6429;
    border-radius: 15px;
    float: center;
}